* {
	text-align: center;
}

body {
	display: grid;
	grid-template-columns: auto;
	background: #0e1621;
}

a.dos:link {
  width: 100px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  background-size: 0px;
  border: none;
  background: none;
}

a.uno {
  color: #5100fe;
  float: right;
  display: block;
  font-size: 1.3em;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: #ccc;
  border-radius: 8px 8px 8px 8px;
}

a.uno:link {
  color: #5100fe;
  float: right;
  display: block;
  font-size: 1.3em;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: #ccc;
  border-radius: 8px 8px 8px 8px;
}

header.lista {
  float: right;
  display: block;
  background-color: #0485ff;
  background-size: contain;
  color: #9f00a9;
  width: 100%;
  padding-top: 10px;
	padding-bottom: 5px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.heading {
	font-family: Arial;
	margin-top: 20vh;
}

.URL-input,
.convert-button {
	color: white;
	font-size: 1em;
	padding: 5px 10px;
}

h1 {
	color: white;
	font-family: Arial;
}

.URL-input {
	margin: auto;
	border-radius: 4px 0px 0px 4px;
	width: 30em;
	text-align: left;
	border: 2px solid #eeeeee;
	background: #293557;
	outline: none;
}

.URL-input:focus {
	border: 2px solid #0485ff;
}

.convert-button {
	margin: 2% auto;
	border: 2px solid #0485ff;
	background: #0485ff;
	color: white;
	transition: 0.15s;
}

.convert-button:hover {
	background: #016acc;
	border-color: #016acc;
}

@media only screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
	}

	.URL-input {
		margin: auto;
		width: 100%;
	}

	.convert-button {
		margin: 7% auto;
		width: 100%;
	}
}

.opt {
	width: 27vw;
	margin: 2% auto;
	padding: 4px;
	border-radius: 7%;
}
